<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link href="/medias/layout.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/medias/jquery.js"></script>
        <script type="text/javascript" src="/medias/jquery.blockUI.js"></script>
        <script type="text/javascript" src="/medias/control-panel.js"></script>
    </head>

    <body>
        <div id="container">
            <div id="header">This is the Header</div>
            <div id="mainContent">
                <div id="sidebar">
                    <input type="button" id="delContainer"
                    value="删除选中container"/>
                    <input type="button" id="addContainer"
                    value="添加一个container"/>
                    <select id="select1" name="" >
                        {% for container in container_list%}
                        <option value={{container.get_name}}>{{container.get_display_text}}</option>
                        {% endfor%}
                    </select>
                </div>
                <div id="content" >
                    <div id="objects"  >
                        <input type="button" id='delObject' value="删除选中object"/>
                        <input type="button" id='addObject' value="上传object"/>
                        <input type="button" id="download"
                        value="下载选中object"/>
                        <div >
                            <table id='table1' border=1 width=100% style="table-layout:fixed">
                                <tr>
                                    <th scope='cok'>object</th>
                                    <th scope='cok'>大小(bytes)</th>
                                    <th scope='cok'>上次修改时间</th>
                                    <th scope='cok'>选中</th>
                                </tr>
                            </table>
                        </div>
                        <form action="/upload/" id="uploadForm" enctype="multipart/form-data" method="POST">
                            <input type="file" name="file" id='file_field'/>
                            <input type="text" name="container_name" id='container_name'/><!--隐藏的text域，用来向服务器提交当前container名字 -->
                            <input type="submit" id='upbtn' value="开始上传" />
                        </form>
                    </div>
                </div>
            </div>
            <div id="footer">This is the footer</div>
        </div>
    </body>
</html>
