{% extends 'base.html' %}
{% block title %}登入{% endblock %}
{% block head1 %}
欢迎使用swift web管理系统
{% endblock %}
{% block context %}
{% if swift_no_start%}
<p>
请先启动swift
</p>
{% endif %}
{% if incorrect %}
<p>用户名或密码错误</p>
{% endif %}
<fieldset>
    <legend>登入</legend>
<form action="" method="post">
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="登入"/>
    <input type="button" id='registerBtn' value="注册"
    onclick="javascript:window.location.href='/register'"/>
</form>
</fieldset>
{% endblock %}
{% block footer%}please login first{% endblock%}
