<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>
        注册
    </title>
    <script type="text/javascript" src='/medias/jquery.js'></script>
    <script type="text/javascript" src='/medias/register.js'></script>
</head>
<h1>用户注册</h1>
<body>
<fieldset>
    <legend>注册</legend>
    {% if form.errors %}
    <p>
    表单有误
    {{form.errosr|pluralize}}
    </p>
    {% endif %}

    {% if msg%}
    <p>{{msg}}</p>
    {% endif%}
    <form id='register_form' action="" method='post'>
        <div >
        <table >
            {{form.as_table}}
        </table>
        <input type="submit" value="注册"/>
        </div>
    </form>

</fieldset>
<div>
<hr />
<p>用户注册</p>
</div>
</body>
</html>
