body { font-family:Verdana; font-size:14px; margin:0;}

#container {margin:0 auto; width:900px;}
#header { height:100px; background:#c2bfbf ; margin-bottom:5px;}
#menu ul {float:right;list-style:none;margin:0px;}
#menu ul li {float:right;margin:10px 10px;display:block;line-height:28px;
border:1px solid #CCC;}
.menuDiv {width:1px;height:28px;background:#999}
#mainContent { height:500px; margin-bottom:5px;}
#sidebar { float:left; width:20%; height:500px; background:#ded6db ;}
#select1 {
    float:left;
    width:100%;
   background:#ded6db;
}
option{
    border-style:inset;
}

#content { float:right; width:80%; height:500px; background:#ede6e8;overflow:auto;}

#footer { height:60px; background:#c2bfbf;}
